{% load static %}
<footer class="site-footer">
    <div class="container">
        <a class="site-footer__logo" href="index.html"><img src="{% static 'images/resources/footer-logo-1-1.png' %}" alt=""></a>
        <form action="index.html#" class="site-footer__form">
            <div class="site-footer__form-icon">
                <i class="egypt-icon-email"></i><!-- /.egypt-icon-email -->
            </div><!-- /.site-footer__form-icon -->
            <input type="text" placeholder="Enter Email Address...">
            <button type="submit"><i class="egypt-icon-right-arrow1"></i><!-- /.egypt-icon-right-arrow1 --></button>
        </form><!-- /.site-footer__form -->
        <div class="site-footer__social">
            <a href="https://www.facebook.com"><i class="egypt-icon-logo"></i></a>
            <a href="https://www.twitter.com"><i class="egypt-icon-twitter"></i></a>
            <a href="https://www.instagram.com"><i class="egypt-icon-instagram"></i></a>
            <a href="https://www.youtube.com"><i class="egypt-icon-play"></i></a>
        </div><!-- /.site-footer__social -->
        <p class="site-footer__copy">Copyrights &copy; 2019 <a href="index.html#">Egypt</a>, All Rights Reserved.</p>
        <!-- /.site-footer__copy -->
    </div><!-- /.container -->
</footer><!-- /.site-footer -->