{% extends 'base/base.html' %}
{% load static %}

{% block content %}


    <section class="inner-banner">
        <div class="container">
            <h2 class="inner-banner__title">About Our Museum</h2><!-- /.inner-banner__title -->
            <ul class="list-unstyled thm-breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li>The Museum</li>
            </ul><!-- /.thm-breadcrumb -->
        </div><!-- /.container -->
    </section><!-- /.inner-banner -->
    <section class="about-three">
        <div class="container">
            <div class="block-title text-center">
                <p class="block-title__tag-line">About Us</p><!-- /.block-title__tag-line -->
                <h2 class="block-title__title">World’s Leading Museum of History <br> Over 2.3 k Collection</h2>
                <!-- /.block-title__title -->
            </div><!-- /.block-title -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-three__content">
                        <h3 class="about-three__content-title">Established in 1969</h3>
                        <!-- /.about-three__content-title -->
                        <p class="about-three__content-text">Egypt is the world’s leading museum of history & culture,
                            housing a <br/> permanent collection of over 2.3 million objects that span over 5,000 <br>
                            which is toil and pain these cases are perfectly.</p><!-- /.about-three__content-text -->
                        <a href="about.html#" class="about-three__content-link">
                            <i class="egypt-icon-download"></i>
                            <span>Download Story in PDF</span>
                        </a>
                    </div><!-- /.about-three__content -->
                </div><!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <div class="about-three__tab">
                        <ul class="list-unstyled nav nav-tabs about-three__tab-list" role="tablist">
                            <li class="nav-item">
                                <a data-toggle="tab" href="about.html#year-1" role="tab"
                                   class="nav-link active">1970</a>
                            </li>
                            <li class="nav-item">
                                <a data-toggle="tab" href="about.html#year-2" role="tab" class="nav-link">1980</a>
                            </li>
                            <li class="nav-item">
                                <a data-toggle="tab" href="about.html#year-3" role="tab" class="nav-link">1990</a>
                            </li>
                            <li class="nav-item">
                                <a data-toggle="tab" href="about.html#year-4" role="tab" class="nav-link">2000</a>
                            </li>
                        </ul><!-- /.list-unstyled -->
                        <div class="tab-content">
                            <div class="tab-pane animated fadeInUp show active" id="year-1">
                                <div class="about-three__tab-content">
                                    <p class="about-three__tab-text">The moment of blinded by desire that they cannot
                                        foresee the pain and <br> trouble that are bound to ensue and equal blame
                                        belongs to those who <br> fail in their duty through weakness shrinking.</p>
                                    <!-- /.about-three__tab-text -->
                                    <a href="about.html#" class="about-three__tab-link">Read Full story
                                        <span>+</span></a>
                                </div><!-- /.about-three__tab-content -->
                            </div>
                            <div class="tab-pane animated fadeInUp" id="year-2">
                                <div class="about-three__tab-content">
                                    <p class="about-three__tab-text">The moment of blinded by desire that they cannot
                                        foresee the pain and <br> trouble that are bound to ensue and equal blame
                                        belongs to those who <br> fail in their duty through weakness shrinking.</p>
                                    <!-- /.about-three__tab-text -->
                                    <a href="about.html#" class="about-three__tab-link">Read Full story
                                        <span>+</span></a>
                                </div><!-- /.about-three__tab-content -->
                            </div>
                            <div class="tab-pane animated fadeInUp" id="year-3">
                                <div class="about-three__tab-content">
                                    <p class="about-three__tab-text">The moment of blinded by desire that they cannot
                                        foresee the pain and <br> trouble that are bound to ensue and equal blame
                                        belongs to those who <br> fail in their duty through weakness shrinking.</p>
                                    <!-- /.about-three__tab-text -->
                                    <a href="about.html#" class="about-three__tab-link">Read Full story
                                        <span>+</span></a>
                                </div><!-- /.about-three__tab-content -->
                            </div>
                            <div class="tab-pane animated fadeInUp" id="year-4">
                                <div class="about-three__tab-content">
                                    <p class="about-three__tab-text">The moment of blinded by desire that they cannot
                                        foresee the pain and <br> trouble that are bound to ensue and equal blame
                                        belongs to those who <br> fail in their duty through weakness shrinking.</p>
                                    <!-- /.about-three__tab-text -->
                                    <a href="about.html#" class="about-three__tab-link">Read Full story
                                        <span>+</span></a>
                                </div><!-- /.about-three__tab-content -->
                            </div>
                        </div><!-- /.tab-content -->
                    </div><!-- /.about-three__tab -->
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.about-three -->
    <section class="department-one">
        <div class="department-one__top">
            <div class="container">
                <div class="block-title text-center">
                    <p class="block-title__tag-line">Departments</p><!-- /.block-title__tag-line -->
                    <h2 class="block-title__title">Departments of Egypt</h2><!-- /.block-title__title -->
                </div><!-- /.block-title -->
            </div><!-- /.container -->
        </div><!-- /.department-one__top -->
        <div class="department-one__bottom">
            <div class="container">
                <div class="inner-container wow fadeInRight" data-wow-duration="1500ms">
                    <div class="row">
                        <div class="col-lg-4">
                            <ul class="department-one__list list-unstyled">
                                <li><a href="about.html#">Department of <br> Sculpture Collection</a></li>
                                <li><a href="about.html#">Department of Vases, Metalwork & <br> Minor Arts
                                    Collections</a></li>
                                <li><a href="about.html#">Department of Prehistoric, Egyptian, <br> Cypriot and
                                    Antiquities </a></li>
                            </ul><!-- /.department-one__list -->
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <ul class="department-one__list list-unstyled">
                                <li><a href="about.html#">Department of Exhibitions, <br> Communication and
                                    Education</a></li>
                                <li><a href="about.html#">Department of Technical Support <br> and Museography</a></li>
                                <li><a href="about.html#">Department of Administrative and <br> Financial Support</a>
                                </li>
                            </ul><!-- /.department-one__list -->
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <div class="department-one__carrer">
                                <div class="department-one__carrer-inner">
                                    <i class="egypt-icon-career"></i>
                                    <h3 class="department-one__carrer-title">Find Your Career</h3>
                                    <!-- /.department-one__carrer-title -->
                                    <a href="about.html#" class="department-one__carrer-link">Job Oppurtunities
                                        <span>+</span></a>
                                </div><!-- /.department-one__carrer-inner -->
                            </div><!-- /.department-one__carrer -->
                        </div><!-- /.col-lg-4 -->
                    </div><!-- /.row -->
                </div><!-- /.inner-container -->
            </div><!-- /.container -->
        </div><!-- /.department-one__bottom -->
    </section><!-- /.department-one -->
    <section class="video-two">
        <div class="container">
            <div class="inner-container wow fadeInUp" data-wow-duration="1500ms">
                <a href="https://www.youtube.com/watch?v=hO1tzmi1V5g" class="video-popup video-two__btn"><i
                        class="egypt-icon-circular"></i></a>
                <h3 class="video-two__title">Great Art and Great Art Experiences</h3><!-- /.video-two__title -->
                <p class="video-two__tag-line">Since 1969</p><!-- /.video-two__tag-line -->
            </div><!-- /.inner-container -->
        </div><!-- /.container -->
    </section><!-- /.video-two -->
    <section class="team-one">
        <div class="container">
            <div class="block-title text-center">
                <p class="block-title__tag-line">Behind Our Museum</p><!-- /.block-title__tag-line -->
                <h2 class="block-title__title">Board of Directors</h2><!-- /.block-title__title -->
            </div><!-- /.block-title -->
            <div class="row">
                {% for directors in teamdirectors %}
                    <div class="col-lg-3 col-md-6">
                        <div class="team-one__single wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="000ms">
                            <div class="team-one__image">
                                <img src="{{ directors.image.url }}" alt="Awesome Image"/>
                            </div><!-- /.team-one__image -->
                            <div class="team-one__content">
                                <h3 class="team-one__name">{{ directors.name }}</h3><!-- /.team-one__name -->
                                <p class="team-one__designation">{{ directors.job }}</p><!-- /.team-one__designation -->
                                <div class="team-one__social">
                                    <p class="team-one__social-text text-uppercase">
                                        <i class="egypt-icon-share"></i>Get Touch With Me
                                    </p><!-- /.team-one__social-text -->
                                    <div class="team-one__social-links">
                                        <a href="https://www.facebook.com/{{ directors.facebook }}"
                                           class="fa fa-facebook-f"></a>
                                        <a href="https://www.twitter.com/{{ directors.twitter }}"
                                           class="fa fa-twitter"></a>
                                        <a href="https://www.linkedin.com/{{ directors.linkedin }}"
                                           class="fa fa-linkedin"></a>

                                    </div><!-- /.team-one__social-links -->
                                </div><!-- /.team-one__social -->
                            </div><!-- /.team-one__content -->
                        </div><!-- /.team-one__single -->
                    </div><!-- /.col-lg-3 col-md-6 -->
                {% endfor %}
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.team-one -->


{% endblock content %}