# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\django\mysite4_egypt\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
